@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import '_variables';
@import '_mixins';
@import '_login';

*{
    margin:0;
    padding:0;
    font-family: 'Montserrat', sans-serif;
}